header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 3rem;
  padding: 0.5rem 4rem;
  background-color: #724a72;
  color: #fff;
}

nav {
  display: flex;
  align-items: center;
  gap: 2rem;
}

.img-logo {
  height: 90px;
  border-radius: 50%;
  margin-right: 50px;
}

li,
li a {
  list-style: none;
  text-decoration: none;
  color: #fff;
  font-size: 1.2rem;
  font-weight: bold;
}

.container-user {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.user {
  font-size: 2rem;
  color: #fff;
  cursor: auto;
  padding-left: 1rem;
}

.login-btn {
  color: #fff;
  background-color: #5e165ef6;
  font-size: 16px;
  font-weight: 500;
  padding: 0.7rem 0.5rem;
  text-decoration: none;
  border-radius: 0.5rem;
  cursor: pointer;
}

.cart-icon {
  font-size: 2rem;
  padding-left: 1rem;
}

.cart-icon:hover {
  color: #5e165ef6;
  cursor: pointer;
}

.user-name {
  text-transform: capitalize;
  font-size: 1.2rem;
  margin: 0;
}
