<header>
  <nav>
    <div class="container-logo">
      <a href="/home">
        <img class="img-logo" src="assets/img/Logotipo Mueblería.png"
      /></a>
    </div>
    <li><a href="/home">Catálogo</a></li>
    <li><a href="/home">Nosotros</a></li>
  </nav>
  <div class="container-user">
    <p class="user-name">{{ userName }}</p>
    <i *ngIf="!isLogged" class="fa-solid fa-user user"></i>
    <button *ngIf="!isLogged" class="login-btn" (click)="login()">
      Iniciar sesión
    </button>
    <button *ngIf="isLogged" class="login-btn" (click)="logout()">
      Cerrar sesión
    </button>
    <div *ngIf="isLogged">
      <button *ngIf="showDashboardBtn" class="btn-dashboard" routerLink="/cart">
        <i class="fa-solid fa-clipboard-list clipboard-icon"></i>Mi Panel
      </button>
      <i
        *ngIf="!showDashboardBtn"
        class="fa-solid fa-basket-shopping cart-icon"
        routerLink="/cart"
      ></i>
    </div>
  </div>
</header>
