<div class="container">
  <h2 mat-dialog-title>
    <!--
    {{ dashboardData.dialogOption }} {{ dashboardData.orderId }}
    -->
  </h2>
  <mat-dialog-actions style="margin: auto; background-color: rgb(230, 240, 240);">
    <button mat-button mat-dialog-close style="margin-right: 4rem;">
      Regresar
    </button>
    <button mat-button (click)="acceptOrder()">
      Aceptar Orden
    </button>
    <button mat-button (click)="rejectOrder()">
      Rechazar Orden
    </button>
  </mat-dialog-actions>
</div>
