body{
  padding:30px;
}

h5{
  color:black;
  font-weight: 500;
}
p{
  color:black;
}
.container-detailsProd{
  margin-top:60px;
  width:87%;
  height:650px;
  display:flex;
  margin: 0 auto;
  margin-left:40px;
  background-color:white;
  /*background-color: rgb(203, 205, 208);*/
  border-radius:25px;
  border: 3px solid rgb(203, 205, 208);
  position:relative;

}
.container-carousel{
  width:40%;
}
.text-details{
  flex:right;
  width:27%;
  height:85%;
}
.mini-target, .mini-target-1, .mini-target-2{
  width:170px;
  height:50px;
  display:inline-block;
  justify-content: space-between;
  border-radius:10px;
  background-color:rgb(230, 245, 245);
  border:1px solid rgb(181, 178, 178);
  margin-right:10px;
}
.mini-target{
  margin-top:10px;
  margin-left:30px;
  width:200px;
}
.mini-target-2, .mini-target-1{
  margin-left:5px;
  margin-top:10px;
}
.text-price{
  margin-left:30px;
  font-size: 36px;
  margin-top: 20px;
}
.icon_1{
  border-radius:50%;
  margin-left:10px;
  margin-right:10px;
  margin-top:10px;
}
.icon_1, .p_target, .text-target{
  display:inline-block;
}
p{
  font-size:14px;
}
.p_target{
  margin-bottom:25px;
  margin-left:5px;
}
span{
  margin-left:0px;
}
.text-detalle{
  margin-top:80px;
  margin-left:30px;
}
.text-detalle-1{
  margin-top:10px;
}
.text-target{
  width:50%;
  margin-bottom:25px;
}
.text-target p{
  flex:right;
  color:black;
  font-weight:500;
  font-size:16px;
}
.text-description{
  margin-top:40px;
  margin-left:30px;
}
.text-description-1, .text-description-2{
  margin-left:30px;
  margin-right:50px;
}
.text-description-1{
  margin-top:30px;
}
.text-description-2{
  margin-top:40px;
}
ul{
  margin-top:40px;
}
.list-detalles, .list-detalles_1{
  list-style: none;
  margin-left:2px;
  margin-bottom:15px;
}
.list-detalles_1{
  margin-top:30px;
}
/*div carousel*/
.container-carousel{
  width:40%;
  /*background:rgba(0,0,0,0.48);*/
  /*height:500px;*/
  height:85%;
  margin-left:40px;
  margin-top:40px;
  text-align:center;
}
img{
  margin:0 auto;
}

/*.carousel-item{
  background:rgba(0,0,0,0.48);
}*/
.carousel-inner img {
  width: 50%;
  max-height: 460px;
  /*rgba(0, 0, 0, .12)*/
}

.carousel-inner{
width:400px;
height: 400px;
}
.carousel-inner img, #item-active img{
  width:50%;
  margin: 0 auto;
}
#boton-inferior {
  background-color: black;
}
#boton-lateral span{
  background-color:rgb(203, 205, 208)
}
/*Div botones*/
.botones{
  margin-top:50px;
  margin-right:20px;
  border: 1px solid rgb(214, 210, 210);
  border-radius:5px;
  height:430px;
  width:400px;
}
.envio{
  display:block;
  margin-top:50px;
  margin-left:40px;
  width: 170px;
  height: 40px;
  background-color:rgb(89, 19, 89);
  color:white;
  border-radius: 5px;
  border: 1px solid black;
  padding:10px 20px;
}
.cant-selection, #cantidad-select, .cant-selection-1{
  margin-top:50px;
  display:inline-block;
}
.cant-selection-1{
  margin-left:5px;
}
#text-cantidad{
  margin-right:5px;
  margin-left:30px;
  margin-top:20px;
}
button:hover{
  color: rgb(236, 126, 240);
}
