<body>
  <div class="container-detailsProd">
    <div class="container-carousel">
      <div id="carouselExampleCaptions" class="carousel slide">
        <div class="carousel-indicators">
          <button id="boton-inferior" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active"
            aria-current="true" aria-label="Slide 1"></button>
          <button id="boton-inferior" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1"
            aria-label="Slide 2"></button>
          <button id="boton-inferior" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2"
            aria-label="Slide 3"></button>
        </div>
        <div class="carousel-inner">
          <div class="carousel-item active" id="item-active">
            <img src="assets/img/4k4j_gc6s_140728_1.jpg" class="d-block w-75" alt="..." >
            <div class="carousel-caption d-none d-md-block text dark">
              <h5>En stock</h5>
              <p>Disponible en tres colores.</p>
            </div>
          </div>
          <div class="carousel-item">
            <img src="assets/img/9oge_wsjj_140728_2.jpg" class="d-block w-75" alt="...">
            <div class="carousel-caption d-none d-md-block text dark">
              <h5>En stock</h5>
              <p>Disponible en tres colores.</p>
            </div>
          </div>
          <div class="carousel-item">
            <img src="assets/img/jtob_tqie_140728_3.jpg" class="d-block w-75" alt="...">
            <div class="carousel-caption d-none d-md-block text dark">
              <h5>En stock</h5>
              <p>Disponible en tres colores.</p>
            </div>
          </div>
        </div>
        <button id="boton-lateral" class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions"
          data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button id="boton-lateral" class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions"
          data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div>
    </div>
    <div class="text-details">
      <h2 class="text-detalle">Silla Plástica Apilable Reforzada</h2>
      <p class="text-detalle">Silla de plástico</p>
      <div class="mini-target"><mat-icon class="icon_1">card_giftcard</mat-icon>
        <div class="text-target"><p class="p_target"><span>Precio:</span></p></div></div>
      <div class="mini-target-2"><mat-icon class="icon_1">today</mat-icon>
        <div class="text-target"><p class="p_target"><span>Orden:</span></p></div>
      </div>
      <div class="mini-target-1"><mat-icon class="icon_1">assessment</mat-icon>
        <div class="text-target"><p class="p_target"><span>Revenue:</span></p></div>
      </div>
      <div class="description">
        <h4 class="text-description">Descripción</h4>
        <p class="text-description-1">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim adlino minim veniam,
           quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo.</p>
        <ul>
          <li class="list-detalles_1"><b>Proveedor:</b> Lereve</li>
          <li class="list-detalles"><b>Marca:</b> Gladiar</li>
          <li class="list-detalles"><b>Categoría:</b> Sillas</li>
          <li class="list-detalles"><b>SKU:</b> U2015</li>
          <li class="list-detalles"><b>Disponibilidad:</b> 1000 ítems en stock</li>
        </ul>
      </div>
    </div>
    <!--<div class="buttons-coment">
      <button>Detalles</button>
      <button>Comentarios</button>
    </div>-->
  </div>
  </body>

  <!--
  <div>
    <img src="https://img.freepik.com/vector-gratis/silla-roja_1308-86311.jpg?w=740&t=st=1692364760~exp=1692365360~hmac=33eade066e32b102b11a814390a651b91c200b47f01ccbc09eeaf71452d9f854">

  </div>
  -->
