<body>
<app-progress-bar *ngIf="loading"></app-progress-bar>
<button type="button" class="btn2 btn btn-outline-primary btn-sm" routerLink="/home">Volver</button>
  <div class="container-detailsProd">
    <div class="container-carousel">
      <div id="carouselExampleCaptions" class="carousel slide">
        <div class="carousel-indicators">
          <button id="boton-inferior" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active"
            aria-current="true" aria-label="Slide 1"></button>
          <button id="boton-inferior" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1"
            aria-label="Slide 2"></button>
          <button id="boton-inferior" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2"
            aria-label="Slide 3"></button>
        </div>
        <div class="carousel-inner">
          <div class="carousel-item active" id="item-active">
            <img src="{{ image }}" class="d-block w-75" alt="..." >
            <div class="carousel-caption d-none d-md-block text dark">
              <!--<h5>En stock</h5>
              <p>Disponible en tres colores.</p>-->
            </div>
          </div>
          <div class="carousel-item">
            <img src="{{ image }}" class="d-block w-75" alt="...">
            <div class="carousel-caption d-none d-md-block text dark">
              <!--<h5>En stock</h5>
              <p>Disponible en tres colores.</p>-->
            </div>
          </div>
          <div class="carousel-item">
            <img src="{{ image }}" class="d-block w-75" alt="...">
            <div class="carousel-caption d-none d-md-block text dark">
             <!-- <h5>En stock</h5>
              <p>Disponible en tres colores.</p>-->
            </div>
          </div>
        </div>
        <button id="boton-lateral" class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions"
          data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button id="boton-lateral" class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions"
          data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div>
    </div>
    <div class="text-details">
      <h2 class="text-detalle">{{ name }}</h2>
      <p class="text-detalle-1">{{ shortDescription }}</p>
      <div class="mini-target"><mat-icon class="icon_1">card_giftcard</mat-icon>
        <div class="text-target"><p class="p_target"><span>Precio:</span>$ {{ price }}</p></div></div>
        <p class="text-price"><span>$ {{ price }}</span></p>
      <!--<div class="mini-target-2"><mat-icon class="icon_1">today</mat-icon>
        <div class="text-target"><p class="p_target"><span>Orden:</span></p></div>
      </div>
      <div class="mini-target-1"><mat-icon class="icon_1">assessment</mat-icon>
        <div class="text-target"><p class="p_target"><span>Revenue:</span></p></div>
      </div>-->
      <div class="description">
        <h4 class="text-description">Descripción</h4>
        <p class="text-description-1">{{ description }}</p>
        <p class="text-description-2"><b>Categoría:</b> {{ category }}</p>
      </div>
    </div>
    <!-- <p>( {{ stock }} disponibles en stock)</p>
      <div class="buttons-coment">
      <button>Detalles</button>
      <button>Comentarios</button>
    </div>-->
    <div class="botones">
      <h4 class="text-description-2"><b>Stock Disponible</b></h4>
        <div class="dropdown">
          <p id="text-cantidad" class="cant-selection">Cantidad:</p>
          <button id="cantidad-select" class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
            1 Unidad
          </button>
          <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
            <li><a class="dropdown-item" href="#">Action</a></li>
            <li><a class="dropdown-item" href="#">Another action</a></li>
            <li><a class="dropdown-item" href="#">Something else here</a></li>
          </ul>
          <p class="cant-selection-1">({{ stock }} disponibles en stock)</p>
        </div>
      <button class="envio" type="submit">Alquilar</button>
      <button class="envio" type="submit">Agregar al pedido</button>
    </div>
  </div>
  </body>

  <!--
  <div>
    <img src="https://img.freepik.com/vector-gratis/silla-roja_1308-86311.jpg?w=740&t=st=1692364760~exp=1692365360~hmac=33eade066e32b102b11a814390a651b91c200b47f01ccbc09eeaf71452d9f854">

  </div>
  -->
