.container-detailsProd {
  display: flex;
  justify-content: space-around;
  padding: 2rem;
}

.content {
  display: flex;
  flex-direction: column;
  padding: 2rem 0;
  gap: 1rem;
}

.content-name {
  font-size: 2rem;
}

.btn-add {
  margin-top: 2rem;
  width: 170px;
  height: 40px;
  background-color: rgb(89, 19, 89);
  color: white;
  border-radius: 5px;
  border: 1px solid black;
  padding: 10px 20px;
}

.btn-add:hover {
  background-color: rgb(108, 45, 110);
}
