<div class="container">
  <app-spinner *ngIf="loading"></app-spinner>
  <div class="container-detailsProd">
    <div id="carouselExampleIndicators" class="carousel slide">
      <div class="carousel-indicators">
        <button
          type="button"
          data-bs-target="#carouselExampleIndicators"
          data-bs-slide-to="0"
          class="active"
          aria-current="true"
          aria-label="Slide 1"
        ></button>
        <button
          type="button"
          data-bs-target="#carouselExampleIndicators"
          data-bs-slide-to="1"
          aria-label="Slide 2"
        ></button>
        <button
          type="button"
          data-bs-target="#carouselExampleIndicators"
          data-bs-slide-to="2"
          aria-label="Slide 3"
        ></button>
      </div>
      <div class="carousel-inner">
        <div class="carousel-item active">
          <img
            src="{{ images1 }}"
            class="d-block"
            alt="{{ name }}"
            height="500"
          />
        </div>
        <div class="carousel-item">
          <img
            src="{{ images2 }}"
            class="d-block"
            alt="{{ name }}"
            height="500"
          />
        </div>
        <div class="carousel-item">
          <img
            src="{{ images3 }}"
            class="d-block"
            alt="{{ name }}"
            height="500"
          />
        </div>
      </div>
      <button
        class="carousel-control-prev"
        type="button"
        data-bs-target="#carouselExampleIndicators"
        data-bs-slide="prev"
      >
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button
        class="carousel-control-next"
        type="button"
        data-bs-target="#carouselExampleIndicators"
        data-bs-slide="next"
      >
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>
    </div>
    <div class="content">
      <h2 class="content-name">{{ name }}</h2>
      <p class="content-short-description">
        <b>Descripción:</b> {{ shortDescription }}
      </p>
      <p class="text-description-2"><b>Categoría:</b> {{ category }}</p>
      <p class="cant-selection-1"><b>Stock:</b> {{ stock }}</p>
      <p class="content-price"><b>Precio:</b> ${{ price }}</p>
      <button
        *ngIf="showBtn"
        class="btn-add"
        type="submit"
        (click)="addProduct()"
      >
        Agregar al pedido
      </button>
    </div>
  </div>
</div>
