<div class="container">
  <!-- <div class="category-container">
    <button class="category">Mesas</button
    ><button class="category">Sillas</button
    ><button class="category">Vajilla</button
    ><button class="category">Otros</button>
  </div> -->
  <app-spinner *ngIf="loading"></app-spinner>
  <h1>Nuestro Catálogo</h1>
  <div *ngIf="!loading" class="cards-container">
    <div *ngFor="let item of listProduct" class="card">
      <div class="card-details">
        <img class="card-img" src="{{ item.coverImage }}" />
        <h4 class="card-name">{{ item.name }}</h4>
        <h4 class="card-description">{{ item.shortDescription }}</h4>
        <h4 class="card-price">{{ item.price | currency }}</h4>
        <button
          type="button"
          class="card-button"
          routerLink="/detailsProd/{{ item.id }}"
        >
          Ver detalle
        </button>
      </div>
    </div>
  </div>
</div>
