<app-navbar></app-navbar>
<app-progress-bar *ngIf="loading"></app-progress-bar>

<div class="dashboard-button">
    <button type="button" class="btn btn-outline-primary btn-sm" routerLink="/dashboard">Panel Admin</button>
</div>
<div *ngIf="!loading" class="container row row-cols-1 row-cols-md-2 g-4">
<!--
<div class="container row row-cols-1 row-cols-md-2 g-4">
-->
  <div *ngFor="let item of listProduct" class="card mb-4 card-size center-elements">
  <!--
    <div class="row g-0">
      <div class="col-md-8">
        <div class="card-body">
          <div class="col-md-4">
          </div>
  -->
          <img src="{{item.image}}" class="img-fluid rounded-start" style="max-width: 150px; height: 150px"> 
          <h4 class="card-title">{{ item.name }}</h4>
          <h6 class="card-text">{{ item.description }}</h6>
          <h5 class="card-text">{{ item.price | currency }}</h5>
          <button type="button" class="card-button" routerLink="/detail/{{item.id}}">Ver detalle...</button>
  <!--      
        </div>
      </div>
    </div>
  -->
  </div>
</div>
