.container{    
    color: rgb(68, 66, 66);
    border: solid rgba(3, 133, 255, 0) 2px;
    margin-left: 100px;    
    font-family: "Neuton";
    font-size: 1rem;
    text-align: center;
    justify-content:space-around;
    
}

.boton{
    margin-left: 1245px;
    margin-top: 10px;   
}
