.container{    
    color: rgb(68, 66, 66);
    border: solid rgba(3, 133, 255, 0) 2px;
    margin-left: 100px;    
    font-family: "Neuton";
    font-size: 1rem;
    text-align: center;
    justify-content:space-around;
    
}

.boton{
    margin-left: 1245px;
    margin-top: 10px;   
}

.card-button {
    transform: translate(-50%, 125%);
    width: 50%;
    border-radius: 1rem;
    border: none;
    background-color: #008bf8;
    color: #fff;
    font-size: 1rem;
    padding: .5rem 1rem;
    position: absolute;
    left: 50%;
    bottom: 0;
    opacity: 0;
    transition: 0.3s ease-out;
   }

/*Hover*/
.card:hover {
    border-color: #008bf8;
    box-shadow: 0 4px 18px 0 rgba(0, 0, 0, 0.25);
   }
   
   .card:hover .card-button {
    transform: translate(-50%, 50%);
    opacity: 1;
   }
