.category-container {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin-bottom: 3rem;
}

.category {
  height: 8rem;
  width: 8rem;
  border: none;
  border-radius: 50%;
  color: #fff;
  font-weight: bold;
  font-size: 1.3rem;
  transition: 0.3s ease-out;
  background: rgb(238, 174, 202);
  background: radial-gradient(
    circle,
    rgb(183, 129, 153) 0%,
    rgba(114, 74, 114, 1) 100%
  );
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.25);
}

.category:hover {
  transition: 0.3s ease-out;
  box-shadow: 0 4px 18px 0 rgba(0, 0, 0, 0.705);
}

.cards-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 3rem;
}

.card-img {
  object-fit: contain;
  height: 100px;
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 260px;
  height: 350px;
  border-radius: 0.3rem;
  position: relative;
  padding: 2rem;
  border: 2px solid #c3c6ce;
  transition: 0.5s ease-out;
  overflow: visible;
  margin: 10px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.25);
}

.card-details {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.card-button {
  transform: translate(-50%, 125%);
  width: 60%;
  border-radius: 1rem;
  border: none;
  background-color: #724a72;
  color: #fff;
  font-size: 0.8rem;
  padding: 0.5rem 1rem;
  position: absolute;
  left: 50%;
  bottom: 0;
  opacity: 0;
  transition: 0.3s ease-out;
  font-family: "Poppins", sans-serif;
}

.text-body {
  color: rgb(134, 134, 134);
}

/*Text*/
.card-name {
  font-size: 1em;
  font-weight: bold;
  text-align: center;
  font-family: "Poppins", sans-serif;
  text-transform: uppercase;
}

.card-description {
  font-size: 0.8em;
  justify-content: center;
  text-align: center;
  font-family: "Poppins", sans-serif;
  text-transform: capitalize;
}

.card-price {
  font-size: 1.2em;
  font-weight: bold;
  justify-content: center;
  text-align: center;
  font-family: "Poppins", sans-serif;
}

/*Hover*/
.card:hover {
  border-color: #724a72;
  box-shadow: 0 4px 18px 0 rgba(0, 0, 0, 0.25);
}

.card:hover .card-button {
  transform: translate(-50%, 50%);
  opacity: 1;
}
