<app-progress-bar *ngIf="loading"></app-progress-bar>

<div *ngIf="!loading" class="container">
  <div *ngFor="let item of listProduct" class="card">
    <div class="card-details">
      <img
      src="{{ item.coverImage }}"
      
      
    />
    <h4 class="h4">{{ item.name }}</h4>
    <h6 class="h6">{{ item.shortDescription }}</h6>
    <h5 class="h5">{{ item.price | currency }}</h5>
    <button
      type="button"
      class="card-button"
      routerLink="/detailsProd/{{ item.id }}"
    >
      Ver detalle...
    </button>

    

  </div>
  </div>

</div>
