@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

img{
    height: 50px;
    width: 50px;
}

.table {
   box-shadow: 1px 1px 5px rgb(107, 105, 105);
    border: solid rgba(3, 133, 255, 0) 2px;
    margin-top: 10px;
}

.title{
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
}