<!-- <app-layout></app-layout> -->
<app-progress-bar *ngIf="loading"></app-progress-bar>
<!--
<div *ngIf="!loading" class="container mt-2 text-center">
-->
<div class="container mt-2 text-center">
  <div class="title">
    <h2>Usuarios</h2>
    <!--
    <button type="button" class="button" routerLink="/add">
      Agregar Producto
    </button>
    -->
  </div>

  <table *ngIf="usersList.length > 0" class="table">
    <thead>
      <tr>
        <th scope="col">Nombre</th>
        <th scope="col">Email</th>
        <th scope="col">Estado</th>
        <th scope="col">Permiso</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let user of usersList">
        <td>{{ user.name }}</td>
        <td>{{ user.email}}</td>
        <td *ngIf="user.isSeller === false">Comprador</td>
        <td *ngIf="user.isSeller === true"><b>Vendedor</b></td>
        <td>
          <button mat-button *ngIf="user.isSeller === false"
                  style="border-radius: 5px; background-color: rgb(100, 200, 240);"
                  (click)="setSellerState(user, true)">Permitir Vendedor</button>
          <button mat-button *ngIf="user.isSeller === true"
                  style="border-radius: 5px; background-color: rgb(255, 200, 0);"
                  (click)="setSellerState(user, false)">Revocar Vendedor</button>
          <!--
          <button
            routerLink="/edit/{{ item.id }}"
            type="button"
            class="btn btn-outline-success btn-sm"
          >
            Editar
          </button>
          <button
            (click)="deleteProduct(item.id!)"
            type="button"
            class="btn btn-outline-danger btn-sm ms-2"
          >
            Eliminar
          </button>
          -->
        </td>
        <td>
          <button mat-button style="border-radius: 30px; background-color: rgb(210, 0, 0); color: white;"
                  (click)="deleteUser(user.email)">Eliminar Usuario</button>
        </td>
      </tr>
    </tbody>
  </table>
  <h5 *ngIf="usersList.length == 0">La lista de usuarios esta vacía, revisar la base de datos.</h5>
</div>
