<div class="wrapper">
    <div *ngIf="!loading" class="body">
        <img class="logo" src="../../../assets/img/login.png" alt="img login">
        <h3>Login</h3>
        <div class="form-floating m-2">
            <input type="email" [(ngModel)]="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"
                placeholder="Email">
            <label>Email</label>
        </div>
        <div class="form-floating m-2">
            <input type="password" [(ngModel)]="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
            <label>Password</label>
        </div>
        <div class="d-grid gap-2 m-2">
            <button type="button" class="btn btn-primary" (click)="login()">Ingresar</button>
        </div>
        <p class="mt-3">No tienes cuenta? <a routerLink="/signIn">Registrar</a></p>
    </div>
    <app-spinner *ngIf="loading"></app-spinner>
</div>