<div class="container">
  <h2 class="text-center">Mi orden</h2>
  <div class="products-container">
    <div class="item-container">
      <p>Mesa redonda</p>
      <p>Precio: <span>$100</span></p>
      <p>Cantidad: <span>15</span></p>
      <p>Total: <span>$1500</span></p>
      <button class="btn btn-danger">Eliminar</button>
    </div>
    <div class="item-container">
      <p>Mesa redonda</p>
      <p>Precio: <span>$100</span></p>
      <p>Cantidad: <span>15</span></p>
      <p>Total: <span>$1500</span></p>
      <button class="btn btn-danger">Eliminar</button>
    </div>
    <div class="item-container">
      <p>Mesa redonda</p>
      <p>Precio: <span>$100</span></p>
      <p>Cantidad: <span>15</span></p>
      <p>Total: <span>$1500</span></p>
      <button class="btn btn-danger">Eliminar</button>
    </div>
  </div>
  <p class="total-order">Total: <span>$30000</span></p>
  <div class="order-actions">
    <button class="btn btn-danger">Cancelar orden</button>
    <button class="btn btn-confirm">Confirmar orden</button>
  </div>
</div>
