<div class="cart-container">
  <p class="empty-cart" *ngIf="cartIsEmpty">
    El carrito esta vacío, para crear una orden agregue al menos un producto.
  </p>
  <div *ngIf="!loading && !cartIsEmpty" class="container">
    <h2 class="text-center">Número de Orden: {{ idOrder }}</h2>
    <div class="products-container">
      <div *ngFor="let product of myProducts" class="item-container">
        <img
          src="{{ product.coverImage }}"
          height="80"
          alt="{{ product.name }}"
        />
        <p>{{ product.name }}</p>
        <p>
          Precio: <span>${{ product.price }}</span>
        </p>
        <div class="quantity quantity-number">
          <p>
            Cantidad:
            <span>{{ product.quantity }}</span>
          </p>
          <div class="up-down">
            <i class="fa-solid fa-caret-up icon-up" (click)="add(product)"></i>
            <i
              class="fa-solid fa-caret-down icon-down"
              (click)="decrease(product)"
            ></i>
          </div>
        </div>
        <p>
          Total: <span>${{ product.quantity * product.price }}</span>
        </p>
        <button class="btn btn-danger" (click)="deleteProduct(product.id)">
          <i class="fa-solid fa-trash"></i>
        </button>
      </div>
    </div>
    <p class="total-order">
      Total: <span>{{ totalCart }}</span>
    </p>
    <div class="order-actions">
      <button class="btn btn-danger" (click)="deleteOrder()">
        Cancelar orden
      </button>
      <button class="btn btn-confirm" (click)="confirmOrder()">
        Confirmar orden
      </button>
    </div>
  </div>
</div>
