/* You can add global styles to this file, and also import other style files */
html,
body {
    /*
    background-image: url(https://st3.depositphotos.com/13349494/i/600/depositphotos_164128612-stock-photo-wooden-tableware.jpg);
    */
    font-family: 'Roboto', sans-serif;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f5f5f5;
    height: 100%;
}

.logo {
    height: 130px;
    margin-bottom: 10px;
}

.body {
    max-width: 300px;
    width: 100%;
    text-align: center;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
