<app-progress-bar *ngIf="loading"></app-progress-bar>
<!--
<div *ngIf="!loading" class="container mt-2 text-center">
-->
<div class="container mt-2 text-center">
  <div class="title">
    <h2>Usuarios</h2>
  </div>
  <table *ngIf="usersList.length > 0" class="table">
    <thead>
      <tr>
        <th scope="col">Id</th>
        <th scope="col">Nombre</th>
        <th scope="col">Email</th>
        <th scope="col">Rol</th>
        <th scope="col">Opciones</th>
      </tr>
    </thead>
    <tbody>
    <tr *ngFor="let user of usersList">
      <td>{{ user.id }}</td>
        <td>{{ user.name }}</td>
        <td>{{ user.email}}</td>
        <td>{{ user.role }}</td>
        <td>
          <button mat-button *ngIf="user.role === 'comprador'"
                  style="border-radius: 5px; background-color: rgb(100, 200, 240);"
                  (click)="updateUserRole(user.id, 'vendedor')">Cambiar Rol a Vendedor
          </button>
          <button mat-button *ngIf="user.role === 'vendedor'"
                  style="border-radius: 5px; background-color: rgb(255, 200, 0);"
                  (click)="updateUserRole(user.id, 'comprador')">Cambiar Rol a Comprador
          </button>
        </td>
        <td>
          <button mat-button style="border-radius: 30px; background-color: rgb(210, 0, 0); color: white;"
                    (click)="openDeleteUserDialog(user)">Eliminar Usuario
          </button>
        </td>
      </tr>
    </tbody>
  </table>
  <h5 *ngIf="usersList.length == 0">No hay usuarios disponibles</h5>
</div>
