<footer>
  <div class="logo-footer">
    <img class="logo-foot" src="assets/img/Logotipo Mueblería.png" />
  </div>
  <div class="redes-sociales">
    <a href="#"><i class="fa-brands fa-square-facebook redes"></i></a>
    <a href="#"><i class="fa-brands fa-linkedin redes"></i></a>
    <a href="#"><i class="fa-brands fa-instagram redes"></i></a>
  </div>
  <div class="autor">
    <p class="texto-footer">Desarrollado por Grupo 10 XAcademy</p>
  </div>
  <div class="Copyright">
    <p class="texto-footer">Copyright © 2023</p>
  </div>
  <div class="textofinal-footer">
    <p class="texto-footer1">Información Legal | Política de privacidad</p>
  </div>
</footer>
