<footer>
    <div class="logo-footer">
        <img class="logo-foot" src="assets/img/Logotipo Mueblería.png">
    </div>
    <div class="redes-sociales">
        <i id="redes1" class="fa-brands fa-square-facebook"></i>
        <a href="" target="_blank"><i id="redes2" class="fa-brands fa-linkedin"></i></a>
        <i id="redes3" class="fa-brands fa-instagram"></i>
    </div>
    <div class="autor">
        <p class="texto-footer">Realizado por Grupo 10 XAcademy</p>  
    </div>
    <div class="Copyright">
        <p class="texto-footer">Copyright©2023</p>  
    </div>
    <div class="textofinal-footer">
        <p class="texto-footer1">Información Legal | Política de privacidad</p>
    </div>  
</footer>